<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NorthwindDb"
         providerName="System.Data.SqlClient"
         connectionString="Server=(LocalDB)\v11.0;Database=Northwind;Trusted_Connection=True;" />
  </connectionStrings>
  <appSettings>
    <add key="Database"
         value="NorthwindDb"/>
  </appSettings>
</configuration>